.item2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 1115px;
    height: 86px;
    margin-left: 208px;
  
    background-color: #eaeaea;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
    height: 830px;
  }
  
  .item5 {
    position: absolute;
    width: 1110px;
    height: 498px;
    left: 208px;
    top: 300px;
  
    background: #eaeaea;
  }
  .item8 {
    margin-top: 115px;
    margin-left: 208px;
  }
  